/* [EditByRan] device-specific rendering */
.round_info_panel_mobile {
    position: absolute;
    top: 202px;
    left: 10px;
    padding: 8px;
    color: darkblue;
    border: 1px solid black;
    border-radius: 8px;
    background-color: tan;
    font-size: 24px;
}

.round_info_panel_mobile .section {
    margin-top: 3px;
}

.round_info_panel_mobile .satisfied {
    text-decoration: line-through;
}

.round_info_panel {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 16px;
    color: darkblue;
    border: 1px solid black;
    border-radius: 16px;
    background-color: tan;
}

.round_info_panel .section {
    margin-top: 10px;
}

.round_info_panel .satisfied {
    text-decoration: line-through;
}
